.page-body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0 20px;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.page-content {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 440px;
  
  letter-spacing: 1px;
  text-align: left;
}

.intro {
  margin-bottom: 40px;
  margin-top: 0;
  
  font-size: 20px;
  font-weight: 120;
  
  line-height: 44px;
}

.social-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-list__item {
  display: inline-block;
  margin: 0 10px
}

.social-list__item a {
  font-weight: 300;
  
  color: #999;
  text-decoration: none;
  
  transition: color .25s;
}

.social-list__item a:hover {
  color: #f05522;
}
