.page-body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0 20px;
  
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
}

.page-content {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  
  letter-spacing: 1px;
  text-align: left;
}

.intro {
  margin-bottom: 20px;
  margin-top: 0;
  
  font-size: 20px;
  font-weight: lighter;
  
  line-height: 30px;
}

.social-links {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-links-item {
  display: inline-block;
  margin: 0 10px
}

.social-links-item a {
  text-align: center;
  font-weight: 300;
  
  color: #999;
  text-decoration: none;
  
  transition: color .25s;
}

.social-links-item a:hover {
  color: #f05522;
}
